# Java compiled
*.class

# Directories
**/target
**/lib_managed
**/.settings
**/.idea
**/submissions
/experiments

# Package Files #
*.jar
*.war
*.ear

# Eclipse files
*.cache
*.classpath
*.project

# Idea files
*.iml
.idea


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# docs
*.pdf
*.csv

#dirs
.worksheet
**/bin
